@{
    Layout = "_LayoutAccesoDenegado";
}

<div class="container-deneid">
    <h1 class="main-title-valo text-center glitch"
        data-text="Muy Pronto...">
        Muy pronto...
    </h1>
    <div class="a-borders">
        <a class="primary-button primary-background"
           asp-controller="Home"
           asp-action="Index">Go to homepage</a>
    </div>
</div>