body {
    user-select: none;
    background-color: #0b0c10;
}
.menu {
    background-color: rgba(11, 12, 16, 0.4026824421965318);
}

.image-background {
    position: absolute;
    height: 38%;
    top: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px 40px 30px 0px;
    background: linear-gradient(
        180deg,
        rgba(11, 12, 16, 0.4026824421965318) 0%,
        rgba(11, 12, 16, 0.5) 40%,
        rgb(16, 11, 11) 100%
    );
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.header-icon {
    width: 180px;
    height: 180px;
    margin-inline: 40px;
}

.animation-loop {
    animation: loop 30s infinite linear;
}

.partidos {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-gap: 0px !important;
}

.participantes {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-auto-rows: minmax(20px, auto) !important;
    grid-gap: 30px !important;
}

@keyframes loop {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 2000px) {
    .image-background {
        height: 27.7%;
    }
}
/* TABLET */
@media (min-width: 577px) and (max-width: 769px) {
    .header-icon {
        width: 80px;
        height: 80px;
        margin-inline: 20px;
    }
    .header {
        padding: 40px;
    }
    .image-background {
        height: 23%;
        left: 0;
    }
}
/*MOVIL*/
@media (max-width: 576px) {
    .header-icon {
        display: none;
    }
    .header {
        padding: 20px;
        text-align: center;
    }
    .image-background {
        height: 19%;
        left: 0;
    }
}
