body {
    background-image: url("../imgs/app/background.png");
    background-size: 100%;
    user-select: none;
}

.menu {
    background-position: center;
    background-size: cover;
    height: 15vh;
    align-items: flex-start;
}


