@{
    Layout = "_LayoutAccesoDenegado";
}

<div class="container-deneid">
    <h1
        class="main-title-valo text-center glitch"
        data-text="Acceso Denegado"
    >
        Ocurrió un error
    </h1>
    <div class="a-borders">
        <a
            class="primary-button primary-background"
            asp-controller="Landing"
            asp-action="Index"
            >Iniciar Sesion</a>
    </div>
</div>