@{
    Layout = "_LayoutHome";
}

<div class="content">
    <a asp-controller="Tournaments" asp-action="ListTournaments" class="main-title-valo active">
        jugar
    </a>
    <a asp-controller="Users" asp-action="Trayectoria" class="main-title-valo"> 
        trayectoria 
    </a>
    <a asp-controller="Tournaments" asp-action="ListTournamentsUser" class="main-title-valo">
        crear torneo
    </a>
</div>