@{
    Layout = "_LayoutAccesoDenegado";
}

<div class="container-deneid">
    <h1
        class="main-title-valo text-center glitch"
        data-text="Acceso Denegado"
    >
        Acceso Denegado
    </h1>
    <div class="a-borders">
        <a
            class="primary-button primary-background"
            asp-controller="Landing"
            asp-action="Index"
            >Go to homepage</a>
    </div>
</div>
