@{
    Layout = "_LayoutFormsAuth";
}
<div class="container-hero">
    <div class="hero">
        <h1 class="main-title">Iniciar Sesión</h1>
        <p class="description-text">
            Use su cuenta de Riot para validar su usuario
        </p>
        <form class="form-login" method="post">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-12">
                    <input type="text"
                           class="input-login"
                           placeholder="Username"
                           name="username" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="password"
                           class="input-login"
                           placeholder="Password"
                           name="password" />
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <span class="text-danger">@ViewData["MENSAJE"]</span>
                </div>
            </div>

            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <div class="button-borders mt-5">
                        <button class="primary-button primary-background">
                            Login
                        </button>
                    </div>
                </div>
            </div>
        </form>
      
    </div>
</div>

<video autoplay muted loop class="login-user-video">
    <source src="~/imgs/app/login-user.mp4" type="video/mp4" />
    Your browser does not support HTML5 video.
</video>
